* {
    box-sizing: border-box;
    font-family: monospace;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    background-color: rgb(223, 160, 26);
    min-height: 50px;

}


.nav-brand {
    padding: 10px;
    font-size: 1.6rem;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

.nav-links {
    font-size: 0.9rem;
    text-transform: uppercase;
}

.nav-links ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0px 30px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: #f1f1f1;
}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    background-color: rgb(236, 213, 183);
    height: 3px;
    position: absolute;
    bottom: 9px;
    left: 0%;
    transition: 0.5s;
}

.nav-links ul li:hover ::after {
    width: 100%; 
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f34b09;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 5px;
    padding: 0 20px;
    color: white;
    margin-inline-start: auto;
    margin-right: 30px;
    cursor: pointer;
    margin-bottom: 4px;

}

.login-btn:hover {
    transform: scale(1.05);
}






article {
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    align-items: center;
    margin: 0 auto;
}

p {
 align-items: center;
}



#insta, #linkedin {
    height: 35px;
    width: 35px;
}

#columnas_footer {
    clear: both;
    display: flex;
}

footer div {
    margin-left: 30px;
    margin-top: 20px;
}

#login{
    background-image: url("../media/background/login.jpg");
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;

}

#container_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
  


