* {
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 7vh;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    
    width: 80%;
    display: flex;
    justify-content: space-around;
}
ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
}

p {
 
}
li {
    display: inline;
    margin-right: 10px; /* optional, adds some spacing between list items */
  }

.menua {
    display: flex;
}

#insta, #linkedin {
    height: 35px;
    width: 35px;
}

#columnas_footer {
    clear: both;
    display: flex;
}

footer div {
    margin-left: 30px;
    margin-top: 20px;
}
  


