* {
    box-sizing: border-box;
    font-family: monospace;
}


header {
    width: 100%;
    height: 7vh;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
}

article {
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    align-items: center;
    margin: 0 auto;
}

p {
 align-items: center;
}
li {
    display: inline;
    margin-right: 10px; /* optional, adds some spacing between list items */
  }

.menua {
    display: flex;
}

#insta, #linkedin {
    height: 35px;
    width: 35px;
}

#columnas_footer {
    clear: both;
    display: flex;
}

footer div {
    margin-left: 30px;
    margin-top: 20px;
}

#login{
    background-image: url("../media/background/login.jpg");
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;

}

#container_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
  


